
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About</h2>
<h2>Our Mission</h2>
<p>
    >Metrolink provides Southern California a safe, convenient alternative to driving.
</p>
<p>
    Our mission is to provide safe, efficient, dependable and on-time transportation service that offers outstanding customer experience and enhances quality of life.
</p>
<p>Our vision is to be Southern California’s preferred transportation system built upon safety, reliability, customer service, leading-edge technology and seamless connectivity.</p>