
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Contact</h2>

Call or Text: 800-371-5465

Hours:

Monday-Friday
6AM-10PM

Saturday-Sunday
6:30AM-8PM

If you need to report a non-emergency safety concern, call or text (866) 640-5190 available 24-7.

If you need to report an emergency, dial 911 or contact your conductor.

For more information about our new Text Messaging feature click here.

Speech and hearing impaired
customers please call: 800-698-4833

For any media inquiries, please contact 213-452-0400

EMAIL US
If you have a question or a comment, simply fill out the fields under the Feedback Form link below. Be assured that all feedback is documented then forwarded to the appropriate department(s) for investigation and corrective measures are implemented for any identified issues. 